APP_NAME=goarif
APP_PORT=8000
APP_RATE_LIMIT=100

DB_CONNECTION=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=dev_dbgoarif
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_TIMEZONE=Asia/Jakarta

JWT_SECRET_KEY=
JWT_EXPIRES_IN=30