# Machine
export MACHINE_ID=1

# App
export DEBUG=true
export ENV=development
export PORT=8080
export APP_NAME=gofi

export JWT_SECRET=

# Database
export DB_DSN="postgres://postgres:postgres@localhost:5432/gofi?sslmode=disable"
export DB_MAX_OPEN_CONNS=25
export DB_MAX_IDLE_CONNS=25
export DB_MAX_IDLE_TIME=15m
